:root {
    --background-color: #1a1f2e;
    --text-color: #e2e8f0;
    --navbar-color: #a3cbff;
    --navbar-textcolor: #ffffff;
    --navbar-shadow-color: #82b8ff;
}

* {
    margin: 0;
    background-color: var(--background-color);
}

.navbar {
    background-color: var(--navbar-color);
    position: static;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2.5rem;
    align-content: center;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    background-color: var(--navbar-color);
}

a {
    text-decoration: none;
    margin: 5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: var(--navbar-color);
}

li {
    list-style: none;
    background-color: var(--navbar-color);
}

.navbar-a:hover {
    color: var(--navbar-shadow-color);
}

.navbar-a {
    height: 1rem;
    width: 1rem;
}

.navbar-button {
    color: var(--navbar-textcolor);
    background-color: var(--navbar-color);
    border: none;
    font-weight: bold;
    border-radius: 20%;
    padding: 1rem;
}

.navbar-button:hover {
    background-color: var(--navbar-shadow-color);
    transition-duration: 0.5s;
}

.navbar-logo {
    background-color: var(--navbar-color);
    height: 3rem;
    width: auto;
    
    padding-right: 7rem;
}
